@import "{{ site.theme }}";

header {
  display: none;
}
img
{
    max-width: 100%;
    min-width: 63px;
    height: auto;
}
th {
  text-align: center;
}

td {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left
  width: auto;
  float: none;
  display: inline-block;
  margin: 0 auto;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: #00ff6c;
}
